@model TreinamentoMVC.Models.Usuario
@{
    ViewBag.Title = "Resultado Usuários";
}

    <h2>Lista dados Usuários</h2>


    <fieldset>
        <legend>Usuário Cadastrado</legend>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Nome)
        </div>
        <div>
            @Html.DisplayFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Observacoes)
        </div>
        <div>
            @Html.DisplayFor(model => model.Observacoes)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Idade)
        </div>
        <div>
            @Html.DisplayFor(model => model.Idade)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div>
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Login)
        </div>
        <div>
            @Html.DisplayFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Senha)
        </div>
        <div>
            @Html.DisplayFor(model => model.Senha)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.ConfirmaSenha)
        </div>
        <div>
            @Html.DisplayFor(model => model.ConfirmaSenha)
        </div>

        <p>@Html.ActionLink("Voltar", "Usuario")</p>

    </fieldset>