<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="container body-content">
            @if (IsSectionDefined("cabecalho"))
            {
                @RenderSection("cabecalho")
            }
            else
            {
                @RenderPage("~/Views/Shared/_Topo.cshtml")
            }
            <a class="alert-success" href="http://www.google.com" target="_blank">Ir para o Google</a><br />
            @Html.ActionLink("Inicial", "Index", "Home")<br />
            @Html.ActionLink("Contato", "Contato", "Home")<br />
            @RenderBody()
            <hr />
            @if (IsSectionDefined("rodape"))
            {
                @RenderSection("rodape")
            }
            else
            {
                @Html.Partial("_Rodape")
            }
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
